$breakpoint: 1000px;
$height: 4.5rem;

.header {
    background: transparent;
    box-shadow: none;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

    position: fixed;
    width: 100%;
    height: $height;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.frame4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    // width: 50%;
    height: $height;
    // left: 0px;
    // top: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    // margin: 0px 180px;
}

.logoBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-right: 100px;

    position: static;
    // width: 60%;
    height: 78px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.logo {
    position: static;
    width: 77px;
    height: 78px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.pages {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    // width: 416px;
    height: 32px;
    left: 452px;
    top: 23px;
}

.page,
.page:hover,
.page:active,
.page:visited,
.page:focus {
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-left: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.navButtons {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 180px;
    padding: 0px;
    // width: 10%;
    height: 78px;
    
}

.navButton {
    text-transform: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 70;
    font-size: 16px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 20px;
    padding: 12px 30px;
    border-radius: 30px;    

    // width: 100%;
    // height: 100%;
    width: 126px;
    height: 60px;

    white-space: nowrap;
    text-align: center;
}