.speakerCardContainer {
  margin-bottom: 1em;
}

.speakerSection {
  min-height: 100vh;
}

.grid {
  display: inline-block;
  padding-left: 1em;
  margin-bottom: 1em;
}

.speakerTitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #EE6350;
}