.background {
    height: 500vh;
    // background: radial-gradient(101.76% 173.53% at 51.92% 63.09%, #EE6350 0%, #F9E3E0 100%)
    background-image: url('../public/resources/Grain.png');
    background: grey;
}

.pageContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;

    position: absolute;
    width: 618px;
    height: 4295px;
    left: 31%;
    top: 45%;
    // top: 50%;
    // left: 50%;
    // -webkit-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
}

.headerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 48px;

    // position: absolute;
    width: 868px;
    height: 140px;
    // left: 50%;
    // top: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.scheduleTitle {
    width: 203px;
    height: 56px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.3px;

    color: #EE6350;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.scheduleDescription {
    width: 868px;
    height: 36px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.3px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}