.root {
  width: 80%;
}
.accordion {
  background-color: #FEEBE9 !important;
}
.question {
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 37.5px !important;
  /* or 150% */

  letter-spacing: 0.3px !important;

  color: #EE6350  !important;
}
.answer{
  font-family: 'Roboto' !important;
  font-style: normal  !important;
  font-weight: 400  !important;
  font-size: 24px !important;
  line-height: 36px !important;
  /* or 150% */
  letter-spacing: 0.3px !important;

  color: #000000  !important;
}